<%- include("partials/header.ejs"); %>

<section id="cards">
  <% if (locals.records) { %> <% records.forEach(record => { %>
  <div class="card-container">
    <div class="card-details">
      <div class="card-title"><h2><%= record.title %></h2></div>
      <div class="card-mark"><h3>My mark is <%= record.mark %></h3></div>
      <div class="card-description"><p><%= record.description %></p></div>
    </div>
    <div class="card-notes">
      <p>
        <%- record.note.slice(0, 999) %>
        <a href="/<%= record.id %>">See more...</a>
      </p>
    </div>
  </div>
  <% }); %> <% } %>
</section>

<%- include("partials/footer.ejs"); %>
